<mat-card>
  <mat-card-title>
    {{'operation edit' | translate | titlecase}}
  </mat-card-title>
  
  <form [formGroup]="operationForm">
  <mat-card-content>

    <div>
      <mat-form-field>
        <mat-label>{{'name' | translate}}:</mat-label>
        <input autocomplete="off" matInput formControlName="name" required>
      </mat-form-field>
    </div>
 
    <div>
      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList aria-label="Item selection">
          <mat-chip *ngFor="let item of items" [selectable]="selectable"
                   [removable]="removable" (removed)="remove(item)">
            {{item.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New item..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
    </div>

  </mat-card-content>
  <mat-card-actions>
      <button *ngIf="currentItem" (click)="onDelete()" class="delete" mat-stroked-button color="warn">Delete</button>
      <button class="submit" (click)="onSubmit()" mat-stroked-button type="submit" [disabled]="!operationForm.valid">{{'ok' | translate | titlecase}}</button>
  </mat-card-actions>
  </form>
</mat-card>
