<main>
  <div class="actor-line" *ngFor="let item of items">
      <div class="monitor-row">
        <mat-card class="actor-card"
          (click)="edit(item)">
          <mat-card-title>
            {{item.operation.name + ' - ' + item.name}}
          </mat-card-title>
          <mat-card-subtitle *ngIf="item.status === 'working'">
            {{(item.status | translate) + ' ' + item.currentJob.batch.details.businessId}}
          </mat-card-subtitle>
          <mat-card-subtitle *ngIf="item.status !== 'working'">
            {{item.status | translate}}
          </mat-card-subtitle>
        </mat-card>
        <div class="mat-subheading-2 timer">
          {{item.updatedAgo.hours()}}:{{item.updatedAgo.minutes()}}:{{item.updatedAgo.seconds()}}
        </div>
      </div>
  </div>
</main>
