.monitor-row {
  display: flex;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.actor-card {
  width: 20rem;
}

.lot {
  text-indent: 1rem;
}

.timer {
  margin-left: 2rem;
  font-size: x-large;
  color: grey;
}

mat-card-subtitle {
 font-size: large;
}
