<main>
  <div class="actor-line" *ngFor="let item of items">
    <mat-grid-list cols="4" rowHeight="2:1">
      <mat-grid-tile [colspan]=3 [rowspan]=1>
        <mat-card class="actor-card"
          (click)="edit(item)">
          <mat-card-title>
            {{item.name}}
          </mat-card-title>
          <mat-card-subtitle>
            {{item.status | translate}}
          </mat-card-subtitle>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="mat-subheading-2 timer">
          {{item.updatedAgo.hours()}}:{{item.updatedAgo.minutes()}}:{{item.updatedAgo.seconds()}}
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</main>
