<div class="login-container">
  <mat-card>
    VKP
    <span>{{'login' | translate}}</span>
    <mat-card-content>
      <mat-form-field>
          <input [(ngModel)]="inputValue" autocomplete="off" matInput (keyup.enter)="login()">
      </mat-form-field>
      <div class="language-selector">
        <button (click)="onLangClick('eng')" mat-stroked-button> eng </button>
        <button (click)="onLangClick('rus')" mat-stroked-button> рус </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
