<mat-toolbar>
  <mat-toolbar-row>
    <span>{{toolbarService.title | async | translate | titlecase}}</span>
    <span class="details">{{toolbarService.details | async | translate | titlecase}}</span>
    <span class="spacer"></span>
    <span class="btn-container">
      <span *ngFor="let btn of toolbarService.buttons | async">
        <button mat-button (click)="onButtonClick(btn)">{{btn | translate}}</button>
      </span>  
    </span>
    <mat-menu #appMenu="matMenu" yPosition="above">
      <div *ngIf="(routingUtilService.getCurrentRoute$() | async) as currentUrl">
        <button *ngIf="(currentUrl.slice(1) != monitoringURL)" 
          class="menuItem" mat-menu-item 
          (click)="onMonitoringClick()">
          {{"monitoring" | translate | titlecase}}
        </button>
        <button *ngIf="(currentUrl.slice(1) != jobsURL)"
          class="menuItem" mat-menu-item 
          (click)="onJobsClick()">
          {{"jobs" | translate | titlecase}}
        </button>
        <button *ngIf="(currentUrl.slice(1) != logURL)"
          class="menuItem" mat-menu-item 
          (click)="onLogsClick()">
          {{"log" | translate | titlecase}}
        </button>
        <button *ngIf="(currentUrl.slice(1) != maintenanceURL)"
          class="menuItem" mat-menu-item 
          (click)="onMaintenanceClick()">
          {{"maintenance" | translate | titlecase}}
        </button>
        <button *ngIf="(currentUrl.slice(1) != administrationURL)"
          class="menuItem" mat-menu-item
          (click)="onAdministrationClick()">
          {{"administration" | translate | titlecase}}
        </button>
      </div>
    </mat-menu>
    
    <button (click)="triggerExport()" class="excel" *ngIf="this.toolbarService.export | async" mat-raised-button>
      excel
    </button>

    <button *ngIf="this.toolbarService.options | async" mat-raised-button color="accent" [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button> 
    <!-- <button mat-raised-button color="accent" (click)="addToHomeScreen()">Add to home screen</button> -->
  </mat-toolbar-row>
</mat-toolbar>
