mat-card {
  left: 5rem;
  max-width: 40rem;
}

mat-form-field {
  width: 100%;
}

.submit {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.delete {
  position: absolute;
  right: 7rem;
  bottom: 1rem;
}