<h1 mat-dialog-title>{{'new job' | translate | titlecase}}</h1>
<form [formGroup]="newJobForm">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>{{'batch number' | translate}}</mat-label>
      <input [formControl]="batchNumberControl" autocomplete="off" matInput >
    </mat-form-field>
    <!--<mat-form-field >-->
      <!--<mat-label>{{'article' | translate}}</mat-label>-->
      <!--<mat-select [formControl]="articleNameControl">-->
        <!--<mat-option *ngFor="let article of data.articles"-->
        <!--[value]="article.name">-->
          <!--{{article.name}}-->
        <!--</mat-option>-->
      <!--</mat-select>-->
    <!--</mat-form-field>-->
    <mat-form-field *ngIf="itemNameControl">
      <mat-label>{{'item' | translate}}</mat-label>
      <mat-select [formControl]="itemNameControl">
        <mat-option *ngFor="let item of data.items"
        [value]="item.name">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field >
      <mat-label>{{'shift' | translate}}</mat-label>
      <mat-select [formControl]="shiftNameControl">
        <mat-option *ngFor="let shift of data.shifts"
        [value]="shift.name">
          {{shift.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{'cancel' | translate | titlecase}}</button>
  <button mat-button [disabled]="newJobForm.invalid" [mat-dialog-close]="data" cdkFocusInitial>{{'ok' | translate | titlecase}}</button>
</div>
