.table-container {
  display: flex;
}

table {
  justify-content: center;
  margin: auto;
}

.mat-row:nth-child(odd){
  background-color:white;
}

.mat-row:nth-child(even){
  background-color:#f4f4f4;
}

.mat-column-shift,
.mat-column-item,
.mat-column-actorName,
.mat-column-batchNum,
.mat-column-article,
.mat-column-operation,
.mat-column-quantity,
.mat-column-fromDate,
.mat-column-toDate,
.mat-column-status {
  padding-left: 2rem;
}
