<table mat-table [dataSource]="items$" class="mat-elevation-z8">

  <ng-container matColumnDef="operation">
    <th mat-header-cell *matHeaderCellDef> {{"operation" | translate | titlecase}} </th>
    <td mat-cell *matCellDef="let element"
     [ngClass]=
      "{
        'broken': element.status == 'broken'
      }"
    > {{element.operation.name}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> {{"name" | translate | titlecase}} </th>
    <td mat-cell *matCellDef="let element"
     [ngClass]=
      "{
        'broken': element.status == 'broken'
      }"
    > {{element.name}} </td>
  </ng-container>
  
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> {{"status" | translate | titlecase}} </th>
    <td class="status-cell" mat-cell *matCellDef="let element"
     [ngClass]=
      "{
        'broken': element.status == 'broken'
      }"
    > {{element.status | translate}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
