.table-container {
  display: flex;
}

table {
  justify-content: center;
  margin: auto;
}

.broken {
  background-color: #ffb8b8;
}

.mat-column-name {
  padding-left: 2rem;
}

.mat-column-status {
  padding-left: 2rem;
}
